<div [ngClass]="setCssClasses()" class="list">
    <div class="list-item">
        <span class="todo-title">{{todo.title}}</span>
        <span *ngIf="todo.completed; else notCompleted">
            <input (change)="onToggleCompleted(todo)" class="checkbox" type="checkbox" checked/>
        </span>
        <ng-template #notCompleted>
            <input (change)="onToggleCompleted(todo)" class="checkbox" type="checkbox"/>
        </ng-template> 
        <button (click)=onDeleteTodo(todo) class="delete-button">x</button>
    </div>
</div>
